# Build / CMake
CMakeCache.txt
CMakeFiles/
build/
out/
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.vcxproj.user
*.sln.docstates

# Binaries / intermediate files
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.ipch
*.iobj
*.pch
*.tmp
*.log
~$*

# Optional
*.cache

# old outdated files 
/z-z-z
/OOP

# dont need the runner data
/.github/self-hosted