name: LINT

on:
  push:
    branches: [ temp ]

jobs:
  lint:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y cmake clang-tidy

      - name: Configure CMake
        run: |
          cmake -S app -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run clang-tidy
        run: |
          clang-tidy $(find app -name "*.cpp") -p build
