name: C++ Static & Security Analysis

on:
  push:
    branches: [ temp ]
  pull_request:
    branches: [ temp ]

jobs:

  cppcheck:
    name: Cppcheck Static Analysis
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Instalacja cppcheck w zale¿noœci od systemu
      - name: Install cppcheck
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo apt-get update
            sudo apt-get install -y cppcheck
          else
            choco install cppcheck -y
          fi

      - name: Verify cppcheck
        run: cppcheck --version

      - name: Run cppcheck
        run: cppcheck --enable=all --inconclusive --std=c++20 --force ./src

  codeql:
    name: CodeQL Security Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: cpp

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
