name: UNIT TESTING

on:
  push:
    branches: [ temp ]
  pull_request:
    branches: [ temp ] 

jobs:
  test:
    runs-on: windows-2022

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -S app -B build -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      run: cmake --build build --config Debug

    - name: Run tests
      run: ctest --test-dir build -C Debug --verbose